
.education-list {
    list-style: none;
    padding: 0;
}

.education-item {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-icon {
    font-size: 6em;
    color: #6c757d;
    margin-right: 10px;
}

